/* TODO
- topic
*/

/* Code toegevoegd 17/05. Leuke kleurtjes zodat het makkelijk te zien is wat waar komt */
.heading-text {
    color: var(--tud-black);  /* Change this to your desired color */
}

/* ---- Global font choices ---- */
body {
  font-family: "Roboto Slab", Arial, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

/* A distinctive font for headings */
.article h1,
.article h2,
.article h3,
.article h4 {
  font-family: "Roboto Slab", Arial, "Times New Roman", serif;
}

/* ---- Heading colors (light mode) ---- */
.article h1 { color: var(--tud-black); }   /* slate-900-ish */  /* # */ 
.article h2 { color: var(--tud-black); }   /* blue-700 */      /* ## */
.article h3 { color: var(--tud-black); }   /* sky-500 */          /* ### */
.article h4 { color: var(--tud-black); }   /* slate-500 */      /* #### */

/* If anchors/links are injected inside headings, color them too */
.article h2 .heading-text,
.article h2 a { color: var(--tud-black); }

/* ---- Dark mode tweaks (the <html> gets class="dark") ---- */
.dark .article h1 { color: var(--tud-black); } /* gray-200 */
.dark .article h2 { color: var(--tud-black) } /* blue-300 */
.dark .article h3 { color: var(--tud-black) } /* sky-300 */
.dark .article h4 { color: var(--tud-black) } /* slate-300 */


/* ---- Optional: style ToC links ---- */
nav[aria-label="Table of Contents"] a {
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--tud-black);
}
.dark nav[aria-label="Table of Contents"] a { color: var(--tud-black); }

/* ---- Optional: for tab-list ---- */

.myst-tab-item-header-active {
  color: var(--tud-blue);            /* text */
  border-bottom-color: var(--tud-blue);
}
.dark .myst-tab-item-header-active {
  color: var(--tud-blue);
  border-bottom-color: var(--tud-blue);
}

.myst-tab-item-header-inactive:hover {
  color: var(--tud-red);            /* hover in light */
}
.dark .myst-tab-item-header-inactive:hover {
  color: var(--tud-red);            /* hover in dark */
}






/* Code toegevoegd 17/05. Leuke kleurtjes zodat het makkelijk te zien is wat waar komt */

/*Title color in dark mode*/
.dark aside.admonition-experiment .dark\:text-white {
   color: rgb(23 25 25); 
}

/* Parent */
aside.admonition-experiment {
  border-color: rgb(255, 0, 0) !important; /* Important zorgt ervoor dat we over de oude stijl heen schrijven */
  background-color: rgb(255, 255, 255); /* Change background color text part*/
} 

/* Title */
aside.admonition-experiment > div:first-child {
  background-color: rgb(251, 183, 183);  /* Change header background color */
}

/* Icon */
aside.admonition-experiment > div:first-child::before {
  content: "🧪";
  /* add padding left so it is not directly on the side*/
  padding-left: 0.2em;
  margin-left: 0.5em;
}

aside.admonition-experiment > div:first-child > div:first-child {
  background-color: rgb(251, 183, 183); /* changes header color of text part
  margin-left: 0 !important; /* voorkomt dubbele margin */
}

/* end of new code */

.admonition-experiment .admonition-title-experiment {
  background-color: black; /* Change header background color */
  color: #FFFFFF; /* Change header text color */
}

/* Custom icon using ::before pseudo-element */
.admonition-experiment .admonition-title-experiment::before {
  content: "🧪"; /* Use an emoji or */
  content: "\f0c3"; /* Use a FontAwesome icon code */
  font-family: "Font Awesome 5 Free"; /* If using FontAwesome */
  margin-right: 0.5em;
}

aside.admonition-experiment img {
display: block;
}



/* ADMONITION INTERMEZZO */
/* Parent */
aside.admonition-intermezzo {
  border-color: rgb(162, 0, 255) !important; 
  background-color: rgb(255, 255, 255); 
} 

/* Title */
aside.admonition-intermezzo > div:first-child {
  background-color: rgb(218, 154, 255);  
}

/* Icon */
aside.admonition-intermezzo > div:first-child::before {
  content: "📖";
  /* add padding left so it is not directly on the side*/
  padding-left: 0.2em;
  margin-left: 0.5em;
}

aside.admonition-intermezzo > div:first-child > div:first-child {
  background-color: rgb(218, 154, 255); /* changes header color of text part
  margin-left: 0 !important; /* voorkomt dubbele margin */
}

.admonition-intermezzo .admonition-title-intermezzo {
  background-color: black; /* Change header background color */
  color: #FFFFFF; /* Change header text color */
}

/* Custom icon using ::before pseudo-element */
.admonition-intermezzo .admonition-title-intermezzo::before {
  content: "📖"; /* Use an emoji or */
  content: "f518"; /* Use a FontAwesome icon code */
  font-family: "Font Awesome 5 Free"; /* If using FontAwesome */
  margin-right: 0.5em;
}

aside.admonition-intermezzo img {
display: block;
}


/* ADMONITION EXAMPLE */
/* Parent */
aside.admonition-example {
  border-color: rgb(12, 35, 64) !important; 
  background-color: rgb(255, 255, 255); 
} 

/* Title */
aside.admonition-example > div:first-child {
  background-color: rgb(0, 118, 194);  
}

/* Icon */
aside.admonition-example > div:first-child::before {
  content: "🔍";
  color:rgb(12, 35, 64)
  /* add padding left so it is not directly on the side*/
  padding-left: 0.2em;
  margin-left: 0.5em;
}

aside.admonition-example > div:first-child > div:first-child {
  background-color: rgb(0, 118, 194); /* changes header color of text part
  margin-left: 0 !important; /* voorkomt dubbele margin */
}

.admonition-example .admonition-title-example {
  background-color: black; /* Change header background color */
  color: #FFFFFF; /* Change header text color */
}

/* Custom icon using ::before pseudo-element */
.admonition-example .admonition-title-example::before {
  content: "🔍"; /* Use an emoji or */
  content: "f002"; /* Use a FontAwesome icon code */
  font-family: "Font Awesome 5 Free"; /* If using FontAwesome */
  margin-right: 0.5em;
}

aside.admonition-example img {
display: block;
}


/* dark mode white inverter */
.dark img[src$=".svg"]:not(.no-invert) {
  filter: invert(1) brightness(1);
}


:root {
  --tud-raspberry: rgb(165,0,52);
  --tud-raspberry-min: rgb(165,0,52,3%);
  --tud-raspberry-mid: rgb(165,0,52,20%);
  --tud-yellow: #FFB81C;
  --tud-yellow-min: #FFB81C05;
  --tud-yellow-mid: #FFB81C20;
  --tud-darkGreen: #009B77;
  --tud-darkGreen-min: #009B7710;
  --tud-darkGreen-mid: #009B7725;
  --tud-blue: #0076C2;
  --tud-blue-min: #0076C210;
  --tud-blue-mid: #0076C225;
  --tud-black: var(--pst-color-text-base);
  --tud-black-min: #56565605;
  --tud-black-mid: #56565625;
  --tud-orange: #EC6842;
  --tud-orange-min: #EC684210;
  --tud-orange-mid: #EC684225;
  --tud-cyan: #00A6D6;
  --tud-cyan-min: #00A6D610;
  --tud-cyan-mid: #00A6D625;
  --tud-gray: #7d7d7d;
  --tud-gray-min: #7d7d7d05;
  --tud-gray-mid: #7d7d7d20;
  --tud-purple: #6f1d77;
  --tud-purple-min: #6f1d7705;
  --tud-purple-mid: #6f1d7720;
  --tud-pink: #EF60A3;
  --tud-pink-min: #EF60A310;
  --tud-pink-mid: #EF60A325;
  --tud-red: #E03C31;
  --tud-red-min: #E03C3110;
  --tud-red-mid: #E03C3125;
  --tud-green: #6CC24A;
  --tud-green-min: #6CC24A10;
  --tud-green-mid: #6CC24A25;
  --tud-darkBlue: #0C2340;
  --tud-darkBlue-min: #0C234010;
  --tud-darkBlue-mid: #0C234025;
  }

html[data-theme="dark"] {
  --tud-raspberry: #ffa7f5;
  --tud-raspberry-min: #ffa7f503;
  --tud-raspberry-mid: #ffa7f520;
  --tud-yellow: #a43a00;
  --tud-yellow-min: #a43a0005;
  --tud-yellow-mid: #a43a0020;
  --tud-darkGreen: #00bd87;
  --tud-darkGreen-min: #00bd8710;
  --tud-darkGreen-mid: #00bd8725;
  --tud-blue: #09baff;
  --tud-blue-min: #09baff10;
  --tud-blue-mid: #09baff25;
  --tud-orange: #ff581f;
  --tud-orange-min: #ff581f10;
  --tud-orange-mid: #ff581f25;
  --tud-cyan: #00a7ef;
  --tud-cyan-min: #00a7ef10;
  --tud-cyan-mid: #00a7ef25;
  --tud-gray: #828282;
  --tud-gray-min: #82828205;
  --tud-gray-mid: #82828220;
  --tud-purple: #ffa7ff;
  --tud-purple-min: #ffa7ff05;
  --tud-purple-mid: #ffa7ff20;
  --tud-pink: #ff47ab;
  --tud-pink-min: #ff47ab10;
  --tud-pink-mid: #ff47ab25;
  --tud-red: #ff7161;
  --tud-red-min: #ff716110;
  --tud-red-mid: #ff716125;
  --tud-green: #008000;
  --tud-green-min: #00800010;
  --tud-green-mid: #00800025;
  --tud-darkBlue: #c1e3ff;
  --tud-darkBlue-min: #c1e3ff10;
  --tud-darkBlue-mid: #c1e3ff25;
}
